header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

main {
	background-color: palegoldenrod;
	padding-bottom: 300px;
}
main h2 {
	padding-top: 75px;
}

.high-scores-grid-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	padding-top: 60px;
}

.high-scores {
	grid-column-start: 5;
}

#start-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#timer {
	margin-top: 30px;
	padding-right: 300px;
	font-size: 50px;
}

#page-title {
	margin-left: 360px;
	margin-top: 20px;
}

.questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: grey;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: 900;
}

#question {
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: black;
	color: white;
	padding: 30px;
}

.questions button {
	padding: 20px 500px;
	margin: 5px 0;
}

.high-scores ul {
	padding-top: 20px;
}

#option-1,
#option-2,
#option-3,
#option-4 {
	font-weight: 900;
}
